body {
  
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16pt; 
  background-color: whitesmoke;
  
  
}
.section{
  max-width: 900px;
  
  box-sizing: border-box;
  margin: 50px auto 50px auto;
  padding: 50px; 
}
.img-round {
  display: block;
  margin: auto;
  border-radius: 50%;
  width: 150px;
}
.centeredForm {
  display: block;
  width: min-content;
  margin: auto;
}
fieldset {
  background-color: white;
  box-sizing: border-box;
  margin: auto;
  border: 2px dotted lightgray;
  margin-bottom: 10px;
}
.smallLayout {
  width: 500px;
  margin: auto;
  padding: 20px;
}
.wideLayout {
  margin: 50px;

}


.fieldItem{
  float: right;
  margin-right: 20px;
}

.itemBox{
  width: 400px;
  align-items: center;
  margin: auto;
}

.tablerow {
  display: table-row;
  text-align: left;
  
}

.textLeft {
  text-align: left;
}
.textRight {
  text-align: right;
}
input.textfield {
  font-size: 16px;
  width: 193px;
  height:30px;
  margin: 3px;
  padding-left: 3px;
  background-color:white;
  border: 1px solid grey; 
}
.commentSection{
  width:100%;
    height:100%;
    font-size: 16px;
 
}

label{
  height: 30px;
  margin: 3px;
}

.select-wrapper{
  width: 200px;
  height: 30px;
  margin: 3px;
  background-color:white;
  color: rgb(170, 170, 170);
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  border: 1px solid grey ;
 
}
.centeredText {
  display: block;
  text-align: center;
}
.buttonset {
  /* border: 1px solid grey; */
  /* display: flex; */
  /* justify-content: center; */
  margin: auto;
  max-width: fit-content;
  padding: 5px;
}
button{
border: none;
color: white;
padding: 15px 32px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px;   
  
}
button.grey{
  background-color: rgb(146, 146, 146);
}
button.blue{
  background-color: rgb(23, 120, 231);
}
hr {
  border: 1px dashed grey;
  padding: 0px;
  margin: 10px 0px;
}
.panel {
  list-style-type: none;
  background-color: white;
  border-radius: 7px;
  border: 2px solid lightgrey;
  padding: 10px;
  margin: 20px auto;
}
p {
  margin: 0;
  padding: 10px;
  /* border: 1px solid black; */
}
li {
  padding: 10px;
}
a {
  color: #0f7afe;
  text-decoration: none;
}
.red-link {
  color: firebrick;
}
ul > li > a {
  text-decoration: none;
  color: black;
}
.fullWidth {
  display: flex;
  justify-content: space-between;
}
.inlineTextfield {
  padding: 9px;
  border: 1px solid grey;
  width: 100%;
  margin: 0.2em 0em 0em 0em;
  font-size: 16px;
}
.inlineButton {
  background-color: rgb(146, 146, 146);
  padding: 10px 50px;
  margin: 0.2em 0em 0em 4em;
}
.flexed {
  align-items: flex-start;
  padding: 20px 0px;
}
.card {
  background-color: white;
  border: 1px solid grey;
  margin: 0px 40px;
  padding: 10px;
}
dl {
  padding: 0px 10px;
}
dt {
  font-weight: bolder;
}
textarea {
  width: 100%;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  height: 150px;
}
select {
  width: 160px;
  padding: 5px;
}
.numberOfMessages {
  color: white;
  background-color: #0f7afe;
  padding: 1px 5px;
  float: right;
}
a:hover{
  color:darkblue;
}
