body {
  background-color: rgb(239, 245, 248);
  font-family: sans-serif;
}
body.login{
  background: url(./Images/bg.jpeg);
}
a {
  color: blue;
}
a:visited {
  color: rgb(135, 0, 189);
}
li {
  list-style-type: none;
  padding: 1%;
}
ul {
  padding-left: 0px;
}
ul#flist{
  margin-top: 0;
  margin-bottom: 0;
}

hr {
  border-style: solid;
  border-width: thin;
  border-color: rgb(213, 217, 233);
}

.IM {
  display: block;
  border-radius: 900px;
  margin: auto;
  width: 50;
}
.CHeads {
  margin: auto;
  display: table;
}

.buttons {
  margin: auto;
  display: table;
  padding-bottom: 2%;
  padding-top: 2%;
}

button:hover {
  background-color: rgb(170, 182, 204);
}

.Lbutton {
  background-color: rgb(160, 160, 160);
  border: none;
  border-radius: 5px;
  width: 3cm;
  padding: 3%;
  margin-right: 10px;
  font-size: 16px;
  font-family: sans-serif;
  color: white;
}
.Rbutton {
  background-color: rgb(9, 124, 255);
  border: none;
  border-radius: 5px;
  width: 3cm;
  padding: 3%;
  font-size: 16px;
  font-family: sans-serif;
  color: white;
}

button.Lbutton#Friends{
  width: 2cm;
}
button.Rbutton#Friends{
  width: 2cm;
}

.centered_input {
  margin: auto;
  display: table;
}

#loginfield {
  background-color: rgb(255, 254, 246);
  border-width: 0px;
  border-radius: 10px;
  margin-right: 20%;
  margin-left: 20%;
  min-width: 400px;
  max-width: 500px;
}
#listfield {
  background-color: white;
  border-width: 0;
  border-radius: 4px;
  padding: 0px;
}

#label_distance {
  margin-left: 67px;
}
#label_distance2 {
  margin-left: 70px;
}
#label_distance3 {
  margin-left: 10px;
}

#listnumber {
  background-color: rgb(21, 100, 219);
  color: white;
  padding-top: 1px;
  padding-left: 4px;
  padding-right: 4px;
}
#listnumber2 {
  background-color: rgb(21, 100, 219);
  color: white;
  padding-top: 1px;
  padding-left: 4px;
  padding-right: 4px;
}
#ligrey {
  background-color: rgb(245, 245, 245);
}
#linelinks {
  display: inline-block;
  width: 95%;
}

#NewRequest{
  margin-bottom: -2%;
}

.Textfield {
  border: none;
  border-radius: 5px;
  width: 70%;
  padding-top: 1.5%;
  padding-bottom: 1.5%;
  margin-top: -4px;
  margin-right: 0%;
}

#Send{
  background-color: rgb(160, 160, 160);
  border: none;
  border-radius: 5px;
  width: 15%;
  padding-top: 1.5%;
  padding-bottom: 1.5%;
  font-size: 16px;
  font-family: sans-serif;
  color: white;
}

#messagebottom {
  margin-top: 5px;
  margin-left: 2px;
}

#removefriend {
  color: rgb(247, 10, 10);
}

.chattime {
  opacity: 30%;
  margin-left: 31%;
  margin-right: 10%;
}
